<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="oracle.manageddataaccess.client"
          type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <connectionStrings>
        <!--SqlServer-->
        <!--<add name="Default" connectionString="Server=localhost; Database=AbpZeroTemplate; Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->
        <!--Oracle-->
        <!--<add name="default" connectionString="user id=ubp;password=123;server=localhost;direct=True;sid=orcl;persist security info=True" providerName="Devart.Data.Oracle" />-->
        <!--<add name="default" connectionString="user id=ubp;password=123;server=10.50.239.68;direct=True;sid=orcl;persist security info=True" providerName="Devart.Data.Oracle" />-->
      <add name="default" connectionString="user id=ubp;password=ubp123;server=10.50.239.55;direct=True;sid=UBP;persist security info=True" providerName="Devart.Data.Oracle" />
        <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client"
          connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle"/>
    </connectionStrings>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Oracle.ManagedDataAccess.Client"/>
            <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
              type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
        </DbProviderFactories>
    </system.data>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <publisherPolicy apply="no"/>
                <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
                <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <oracle.manageddataaccess.client>
        <version number="*">
            <dataSources>
                <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
            </dataSources>
        </version>
    </oracle.manageddataaccess.client>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="mssqllocaldb"/>
            </parameters>
        </defaultConnectionFactory>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
            <provider invariantName="Devart.Data.Oracle" type="Devart.Data.Oracle.Entity.OracleEntityProviderServices, Devart.Data.Oracle.Entity.EF6, Version=9.2.187.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
            <provider invariantName="Oracle.ManagedDataAccess.Client"
              type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
        </providers>
    </entityFramework>

    <appSettings>
        <add key="RootNameSpace" value="DM.UBP"/>
        <add key="CodeRootPath" value="E:\ZqpPrg\三行统一业务平台（TG.UBP）\TG.UBP.ABP\Source\Repos_NC-ThreeGo\DM.UBP.AbpZero-V2\src\"/>

        <add key="EntityCodePath" value="02-领域层\DM.UBP.Domain.Entity\"/>
        <add key="EntityNameSpace" value="Domain.Entity"/>

        <add key="EntityConfigurationCodePath" value="02-领域层\DM.UBP.Domain.EntityConfiguration\"/>
        <add key="EntityConfigurationNameSpace" value="Domain.EntityConfiguration"/>

        <add key="UbpDbContextCodePath" value="01-基础设施层\DM.UBP.EF\"/>

        <add key="DomainServiceCodePath" value="02-领域层\DM.UBP.Domain.Service\"/>
        <add key="DomainServiceNameSpace" value="Domain.Service"/>

        <add key="DtoCodePath" value="03-应用层\DM.UBP.Application.Dto\"/>
        <add key="DtoNameSpace" value="Application.Dto"/>

        <add key="ApplicationServiceCodePath" value="03-应用层\DM.UBP.Application.Service\"/>
        <add key="ApplicationServiceNameSpace" value="Application.Service"/>
 
        <add key="ControllerCodePath" value="04-展现层\DM.UBP.Web\Areas\"/>
        <add key="ControllerNameSpace" value="Web.Areas"/>
    </appSettings>
</configuration>