<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
        <meta name="theme-color" content="#2B579A">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <style>.fr-preload-blanket{position:fixed;top:0;right:0;bottom:0;left:0;z-index:20;background-color:#fff;cursor:wait}.fr-preload-blanket-cntr{margin:20% auto;font-size:30px;text-align:center}</style>
    <link rel="shortcut icon" href="favicon.ico"><link href="vendors.css" rel="stylesheet"><link href="main.css" rel="stylesheet"></head>
    <body>
        <div class="fr-designer">
            <div class="fr-preload-blanket">
                <div class="fr-preload-blanket-cntr">
                    <span class="sp-h"></span>
                    <span class="sp-l sp-l-1"></span>
                    <span class="sp-l sp-l-2"></span>
                    <span class="sp-l sp-l-3"></span>
                    <span class="sp-l sp-l-4"></span>
                    <span class="sp-l sp-l-5"></span>
                    <span class="sp-l sp-l-6"></span>
                </div>
            </div>
            <!--[if lt IE 11]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
        </div>
   <script type="text/javascript" src="vendors.js"></script><script type="text/javascript" src="config-data.js"></script><script type="text/javascript" src="main.js"></script></body>
</html>
