<?xml version="1.0" encoding="utf-8" ?>
<ubp xmlns="http://file.threego.com/schemas/ubp.xsd">
    <dbContextInitializer type="DM.UBP.EF.OracleDevart.OracleDevartDbContextInitializer, DM.UBP.EF.OracleDevart"
					connectionStringName="default"
					mapperFiles="DM.UBP.Domain.EntityConfiguration.OracleDevart"
					>
    </dbContextInitializer>
    <abpZeroDbMigrator type="DM.UBP.EF.OracleDevart.AbpZeroDbMigratorForOracleDevart, DM.UBP.EF.OracleDevart">
    </abpZeroDbMigrator>
</ubp>