<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Jwt Token设置 -->
        <add key="Jwt_Issuer" value="DM.UBP" />
        <!-- Jwt Token的签发者 -->
        <add key="Jwt_ExpireMinutes" value="30" />
        <!-- Jwt Token的过期时长，单位是分钟 -->
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>