@using Abp.Web.Mvc.Extensions
@using DM.UBP.Web.Navigation
@using DM.UBP.Domain.Service.BackgroundJobManager
@{
   ViewBag.CurrentPageName = UbpMenu.BackgroundJobManagerTriggers;
}
@section Styles
{
   @*@Html.IncludeStyle("~/Areas/BackgroundJobManager/Views/Trigger/Index.min.css")*@
}
@section Scripts
{
   @Html.IncludeScript("~/Areas/BackgroundJobManager/Views/Trigger/Index.js")
}

<div class="row margin-bottom-5">
   <div class="col-xs-6">
       <div class="page-head">
           <div class="page-title">
               <h1>
                   <span>@L("Triggers") </span> <small>@L("TriggerHeaderInfo")</small>
               </h1>
           </div>
       </div>
   </div>
   <div class="col-xs-6 text-right">
       @if (IsGranted(AppPermissions_BackgroundJobManager.Pages_BackgroundJobManager_Triggers_Create))
       {
           <button id="CreateNewTriggerButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewTrigger")</button>
       }
   </div>
</div>
<div class="portlet light margin-bottom-0">
   <div class="portlet-body">
       <div id="TriggerTable"></div>
   </div>
</div>
